@font-face {
    font-family: "Optima";
    src: url("Optima\ nova\ LT\ Regular.ttf");
}

.titulo {
    font-family: "Optima";
}

.slider-text {
    font-family: 'Limelight', cursive;
    top: 20%;
}

.texto {
    font-family: 'Lato', sans-serif;
}

.image-blur {
    filter: blur(0px);
    height: 80vh;
}

.btn-outline-primary{color:#083A81;border-color:#083A81}
.btn-outline-primary:hover{color:#fff;background-color:#083A81;border-color:#083A81}

.link {
    background-color: #083A81;
}


@media (max-width: 470px) {
    .slider-text {
        font-family: 'Limelight', cursive;
        top: 20vh;
    }

    .image-blur {
        filter: blur(3.5px);
        height: 40vh;
    }

    .video_presentacion {
        width: 100%;
    }
}

@media (max-height: 650px) {
    .slider-text {
        visibility: hidden;
    }

    .image-blur {
        filter: blur(0px);
        height: 40vh;
    }
}

.video_presentacion {
    height: 500px;
    padding: 20px;
}

.nota {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}